/*
*
* CSS Toko Baju
* Softskill Kelompok [x]
* Base by Adi Nugraha Y
*
*
*/
@import "../fonts/font-config.css";
@import "icsvg.css";

/* Clear Location */
html, body, h1, h2, h3, h4, h5, h6, p, code, crack, hr{padding:0;margin:0;}

/*********************************
* CSS PUBLIK
*/
body{
    font-family: 'Work Sans', sans-serif;
    background: #fff;
    font-weight: light;
}

.bag-relative{
    position:relative;
}
.bag-absolute{
    position:absolute;
}
.page-line {
    position: relative;
    padding: 15px 30px 0;
}
.text-anaglyph{
    text-shadow: -3px 0 0 rgba(255, 0, 0, 0.5), 3px 0 0 rgba(0,255,255,0.5);
}
.bnd-bayangan{
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.4);
}
.left-side{
    float:left;
}
.right-side{
    float:right;
}



.clear{clear:both;display:block;}


/* Width Configuration */
#nav .nav-wrap, #badan .bdn-wrap, #kaki .kaki-wrap{
    width: 1100px;
    margin:auto;
}
/*
* Loading
*/
#loading{
    width:100%;
    height:100%;
    position:fixed;
    top:0;left:0;
    background:#000;
    z-index:99999;
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/bg/cover.png'), url('../img/bg/bg1.jpg') top center no-repeat;
    background-size:initial cover;
    z-index: -1;
}
#background .bg-cover{
    width:inherit;
    height:inherit;
}

#partic-bg{
    width:inherit;
    height:inherit;
}

/*********************************
* CSS JUDUL HALAMAN
*/
#page-title{
    /* background: red; */
    /* width: 250px; */
    font-size: 40px;
    text-align: center;
}
#page-title h1{
    color: black;
    font-weight: lighter;
}

/*********************************
* CSS NAVIGASI
*/
#nav {
    background: #FFFFFF;
    min-height: 80px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#nav .nav-wrap{}
#nav .inner-pad{

}
#nav .left-side .inner-pad{}

#nav .right-side .inner-pad{}

#nav ul.menu {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#nav ul.menu li {
    float: left;
    line-height: 90px;
    min-width: 100px;
    text-align: center;
    /* background: #333; */
    position: relative;
}

#nav ul.menu li a {
    display: block;
    font-size: 20px;
    text-decoration: inherit;
    color: #000;
    font-weight: lighter;
    padding: 0 10px;
}
#nav ul.menu i {
    font-style: normal;
    color: #F0D;
}
#nav ul.menu li:before, #nav ul.menu li:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    transition:0.3s ease;
}
#nav ul.menu li:before {
    background: #ACECEC;
    z-index: -2;
}
#nav ul.menu li:after {
    background: #FF8080;
    z-index: -1;
}
#nav ul.menu li:hover:before{
    height:100%;
    transition:0.3s ease;
}
#nav ul.menu li:hover:after{
    height:100%;
    transition:0.7s ease;
}
#nav ul.menu li:hover > a, #nav ul.menu li:hover i{
    color:#fff !important;
}


#nav ul.menu li:first-child {
    margin-left: 0;
}




/*********************************
* CSS BADAN
*/
#badan{
    margin-bottom:50px;
}
#badan .bdn-wrap{}
/* Header  */
#header {
    height: 470px;
    margin: 120px 0 50px;
    overflow: hidden;
    border:1px solid;
}
#header .header-bg{
    height:inherit;
    border-radius:inherit;
    width: 100%;
}
#header .header-bg .header-cover {
    height: inherit;
    /*background: rgba(15, 15, 15, 0.3) url('../img/header/cover/a.png');*/
    width: 100%;
    z-index: 1;
}
#header .header-bg .header-img{
    height:inherit; 
    /*background: #333 url('../img/header/th1.jpg') top center no-repeat;*/
    background-size: cover;
}
#header [ini^="nag"] [bag="g"]{stroke:#fff;}
#header [ini^="nag"] [bag="m"]{fill:#f00;}

#header .header-btn{
    height: inherit;
    z-index: 2;
}
#header .header-btn .header-center {
    width: 70%;
    float: left;
    height: inherit;
    padding: 190px 0 0;
}
#header .header-center .page-title {
    line-height: 100px;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
}
#header .header-center .page-title h1 {
    font-weight: bold;
    color: #fff;
    font-size: 100px;
}
#header .header-center .page-title-bottom{}


#header .header-btn .header-left{
    width:15%;
    float:left;
    height: inherit;
    border-radius:0 0 0 10px;
}
#header .header-btn .header-right{
    width:15%;
    float:right;
    height: inherit;
    border-radius: 0 0 10px 0;
}
#header .header-btn .header-arrow{
    display: block;
    width: 95px;
    vertical-align: middle;
    margin: auto;
    top: 150px;
    padding:5px;
}



/* Content */
#badan .content svg{width:100%;height:100%;}
#badan .content{
    min-height: 200px;
    position: relative;
    border: 1px solid #000;
    margin-bottom:50px;
}
#badan .content-inner{
    padding:10px;
}
#badan .content-header {
    text-transform: uppercase;
    font-weight: lighter;
    color: #000;
    height: 70px;
    line-height: 70px;
    margin-bottom: 15px;
}
#badan .content-header-left {
    float: left;
    height: inherit;
    width: 80px;
}
#badan .content-header-right{
    margin-left:90px;
    line-height: inherit;
}
#badan .content-header h3 {
    font-weight: inherit;
    font-size: 30px;
    letter-spacing: 5px;
}
#badan .content-prod{
    height:200px;
}
#badan .content .prod-left{
    float:left;
    height:inherit;
    width:10%;
}
#badan .content .prod-center{
    float:left;
    height:inherit;
    width:80%;
}
#badan .content .prod-right{
    float:right;
    height:inherit;
    width:10%;
}

/*
* Product Product Thumbnails (prth)
*/
.product-wrapper{
    height:inherit;
    overflow:scroll hidden;
}
.product-wrapper-autosize{
    height: inherit;
}
.product-wrapper prth{
    display:block;
}
.product-wrapper prth.product-content{
    float: left;
    height: inherit;
    margin-left: 5px;
    width: 126px;
    background: rgb(255, 255, 255);
}
.product-wrapper prth:first-child{
    margin-left:0 !important;
}
.product-wrapper prth .product-content-wrap{
    height:inherit;
    border:1px solid #000;
}
.product-wrapper prth .product-content-img-wrap {
    height: 140px;
}
.product-wrapper prth .product-content-info {
    text-align: center;
    font-size: 12px;
}


.content.produk-baru{}
.content-inner.produk-baru {
    font-size: 0;
    text-align:center;
}

.content.produk-baru prth {
    display: inline-block;
    width: 230px;
    min-height: 320px;
    font-size: 15px;
    margin: 20px 15px;
    border: 1px solid #000;
    position: relative;
}
prth.produk.produk-baru:after {
    content: '';
    display: block;
    border: 6px solid;
    border-color: transparent #000 #000 transparent;
    height: 10px;
    float: right;
    width: 10px;
    position: absolute;
    right: -3px;
    bottom: -3px;
}

prth.produk.produk-baru:nth-child(4n+0) {
    margin-right:0;
}
prth.produk.produk-baru:nth-child(4n+1){
    margin-left:0;
}
.content.produk-baru .sta {
    position: absolute;
    background: rgb(255, 128, 128);
    line-height: 50px;
    color: #fff;
    text-shadow: -1px -1px rgb(62, 152, 152);
    box-shadow: 2px 2px 0 #80FFFF;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    font-size: 13px;
    top: -15px;
    left: -15px;
}
.content.produk-baru .img {
    background: white;
    width: 210px;
    height: 210px;
    border-radius: 210px;
    overflow: hidden;
    margin: 10px auto;
    background-clip: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.content.produk-baru .img img {
    display: block;
    width: 100%;
}
.content.produk-baru .desc{}
.content.produk-baru .desc .top{}
.content.produk-baru .desc .bottom{}




/*********************************
* CSS KAKI
*/
#kaki {
    min-height: 200px;
    background: #000;
    border-top: 5px solid #FF005E;
    box-shadow: -10px 0 10px #000;
}
#kaki .kaki-wrap{
}






